@font-face {
  font-family: 'Widescreen Ex Black';
  src: url('../widescreen-ex-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.logo-image {
  width: 170px;
}

.logo-texto-pira{
    width: 440px;
    height: 260px;
}

.imgbandeirinhadireito{
    width: '100px';
    border: '1px solid red';
}

 .diganaoracismo{
    width: '320px'
}

@media (max-width: 344px) {

    .container-tradicao-texto{
        display: flex;
    }

    .imagem-texto{
        width: 329px;
    }

}

@media (max-width: 391px) {

    .logo-texto-pira{
        width: 300px;
    }

    .imagem-texto{
        min-width: "100px";
        min-height:"100px";
    }
}

@media (max-width: 459px) {

    .logo-texto-pira{
        width: 370px;
        height: 280px;  
    }
}

@media (max-width: 883px) {

    .diganaoracismo{
        width: '50px'
    }
}

@media (max-width: 1345px) {

    .youtube{
        width: '78%'
    }
}
