.logo-image {
  width: 170px;
}

.logo-texto-pira{
    width: 440px;
    height: 260px;
}



@media (max-width: 344px) {

    .container-tradicao-texto{
        display: flex;
    }

    .imagem-texto{
        width: 329px;
    }

}

@media (max-width: 391px) {

    .logo-texto-pira{
        width: 300px;
    }

    .imagem-texto{
        min-width: "100px";
        min-height:"100px";
    }
}

@media (max-width: 459px) {

    .container-pira{
        display: flex;
        justify-content: center;
    }

    .logo-image {
        display: 'flex';
        justify-content: center;
    }

    .logo-texto-pira{
        width: 370px;
        height: 280px;  
    }
}